@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Smokum&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

html {
    font-size: 62.5%;
    /* 10px=(100/16)*10; */
    /* for making site resposive */
}

/* utlity classes start */
.text-red {
    color: #e63946;
}

.ul-li {
    list-style: none;
}

.text-light {
    color: #f4f4f4;
}

.text-black {
    color: #333333;
}

.text-gray {
    color: #555555;
}

.bg-dark {
    background-color: #263238;
    overflow: auto;

}

.btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
}

.btn-primary {
    background-color: #ffff;
    border-radius: 10em;
}

/*########################################## utlity classes end #############################################################*/

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}

.header {
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('images/main-cover.jpg');

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

#para {
    font-size: 1.3rem;

}

a {
    font-size: 1.6rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

h1,
h2,
h3 {
    margin-bottom: 0.5em;
    letter-spacing: 0.15em;
    font-weight: 500;
}

h1 {
    color: white;
}

#logo {
    color: white;
    font-size: 3.5rem;
    padding: 1.5rem;
    float: left;
    clear: both;
}
#logo i {
    cursor: pointer;
}
.nav {
    display: inline;
    float: right;
}
.nav a {
    color: white;
    padding: 2rem;
    margin: 1.5rem;
    float: right;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.navi ::after {
    display: block;
    clear: both;
    overflow: auto;
}

.nav a:hover {
    font-size: large;
    /* text-decoration: none; */
    color: #e63946;
    padding: 1.3rem;
    margin-top: 1.625rem;
}

a:hover {
    font-size: 1.725rem;
    /* text-decoration: none; */
    color: #e63946;
    padding: 1.3rem;
}


/* header content ############################################ */
.container {
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}

#button {
    border: 1px solid red;
    border-radius: 10rem;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-family: 'Montserrat', sans-serif;
    background-color: snow;

    font-weight: 500;
    text-decoration: none;
    text-align: center;
    margin: auto;
}

.heading {
    font-weight: 700;
}

p {
    text-transform: uppercase;
}

.header-content {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    padding: 3rem;
}

/* showcase section styling########################################### */
.gg, .fg {
    text-align: justify;
    font-size: 1rem;
}

.showcase {
    background: #ddd;
    padding: 10rem 0;
}

.row {
    height: 350px;
}

.rew1 {
    margin-bottom: 10rem;
}

.rew1 .img-box,
.row2 .text-box {
    float: left;
    width: 50%;
}

.row2 .img-box,
.rew1 .text-box {
    float: right;
    width: 50%;
}

.row .img-box {
    border: 3px solid red;
    height: 100%;

}

.row .text-box {

    padding: 3rem;
    height: 100%;
    text-decoration-color: #555555;
    font-size: 1rem;

}

.rew1 .img-box {
    background-image: url(images/thailand.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    font-size: 3em;
}

.row2 .img-box {
    background-image: url(images/califonia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.more {
    border: 2px solid black;
    background-color: snow;
    padding: 1rem;
    border-radius: 50px;

}

.row {
    box-shadow: 0rem 0rem 4rem rgba(0, 0, 0, 0.229);
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.features {
    padding: 10rem 0;
}

.box-wrapper {
    box-shadow: 5px 5px 20px 0px #2632384d;
    overflow: hidden;
    background-color: #DDDDDD;
}

.box {
    width: 33.33333%;
    float: left;
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.box p {
    text-align: center;
    height: 7rem;
}

.box1, .box3 {
    background-color: #263238;
    color: white;
    padding: 3rem;
}

.box2 {
    background: linear-gradient(25deg, #d64c7f, #ee4758 50%);
    color: white;
    padding: 3rem;
}

.md-heading {
    font-size: 1.8rem;
}

.media-box {
    position: relative;
    background: #263238;
    color: #f4f4f4;
    padding: 2rem;
    text-align: center;
}

.social-media {
    margin: 1.4rem;
}
.social-media i {
    cursor: pointer;
}

.fa-brands {
    padding: 1rem;
}

/* #################################ABOUT PAGE######################### */
.main {
    position: relative;

}

.ig-heading {
    padding: 2rem -1.9rem 2rem 0rem;
}
.about {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.about-heading {
    border-bottom: 6px solid #e63946;

}

.lorm {
    text-transform: capitalize;
    text-align: justify;
    line-height: 1.5;
    font-size: 1.625rem;
    color: black;

    margin: 1rem 0;
}

.list-style {
    padding: 2rem;
}

.list-inline1, .list-inline2 {
    display: flex;
    justify-content: center;
}

.list-inline1 {
    float: left;
    width: 50%;
    font-size: 1.5rem;
}

.list-inline2 {
    float: left;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;

}

.list-style li::before {
    content: '\2713';
    color: #e63946;
    font-weight: bold;
    padding-right: 0.7rem;
}

.number {
    text-align: center;
}

.num1 {
    float: left;
    width: 25%;
    font-weight: bolder;
    font-size: 3rem;
}

.num2 {
    float: left;
    width: 25%;
    font-weight: bolder;
    font-size: 3rem;
}

.num3 {
    float: left;
    width: 25%;
    font-weight: bolder;
    font-size: 3rem;
}

.num4 {
    float: left;
    width: 25%;
    font-weight: bolder;
    font-size: 3rem;
}

.text div {
    text-align: center;
    font-weight: 700;
    font-size: 1.8rem;
}

.num5 {
    float: left;
    width: 25%;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.num6 {
    float: left;
    width: 25%;
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
}

.num7 {
    float: left;
    width: 25%;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.num8 {
    float: left;
    width: 25%;
    font-weight: 500;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
}

.list-style {
    content: '';
    display: block;
    clear: both;
}

.foot {
    background-color: #e63946;
    margin-top: 10rem;
    overflow: auto;
    height: 7rem;
    padding: 1rem;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.289);
    width: 100%;
    height: 8.5rem;

}

.foot-text {
    float: left;
    font-size: 1.5rem;
    margin: 2rem 0.5rem 0rem 0.7rem;
    text-transform: uppercase;
    font-weight: bold;
    user-select: none;
}

.button {
    float: right;
    font-size: 2rem;
    text-align: center;
    border: 3px solid white;
    padding: 1rem;
    margin-top: 0 auto;
    font-weight: 500;
    letter-spacing: 0.5rem;
    width: 30rem;
}

.button:hover {
    background-color: black;
    color: cyan;
    overflow-y: visible;
    box-shadow: 0rem 0rem 2rem 0rem rgba(0, 0, 0, 0.289);
}

/* ##################################################contact styling##################################### */
.contact-form{
    padding: 3rem 0rem;
}
.form-wrapper{
    
    overflow: auto;
    box-sizing: border-box;
    background-color:snow;
    height: 60rem;
    width: 87rem;
    margin: 0 auto;
    margin-top: -2rem;
}
.compant-name{
    
    width: 45%;
    float: left;
}
.form{
    background-color: #ffff;
    width: 45%;
    float: right;
}
.compant-name{
    background-color: chartreuse;
    width: 49%;
    height: 55rem;
    padding: 2rem;
    color: #000;
    
}
.location span{
    font-weight: 500;
    font-size: 2rem;
}
.location p{
    font-weight: 500;  
}
.E-mail p{
    font-weight: 500;  
}
.call p{
    font-weight: 500;  
}
.E-mail span{
    font-weight: 500;
    font-size: 2rem;
}
.call span{
    font-weight: 500;
    font-size: 2rem;
    padding-right: 0.7rem;
}
.location span i{
    padding-right: 0.7rem;
}
.call span i{
    padding-right: 0.7rem;
}
.compant-name img{
    height: 30rem;
    width: 40rem;
    border: 1px solid red;
    object-position: right; 
}
/* ########################################form Styling####################################################### */
.form{
    background-color: chartreuse;
    font-size: 1.6rem;
    padding: 1rem;
    height: 55rem;
}
.form h2{
    font-size: 3rem;
    border-bottom:5px solid #e63946;
    padding: 2px ;
}
.form p{
    text-transform: lowercase;
    font-size: 1.5rem;
}
.form input{
    width: 100%;
}
.form-group textarea{
    width: 100%;
}
.form-group{
    margin-bottom: 0.5rem;
}
.form-group label:after{
    content: '*';
    color: #e63946;
}
.form-btn{
    display: block;
    margin: 0 auto;
    padding: 0.5em 3em ;
    font-size: 1.8rem;
    text-transform: uppercase;
    background: #e63946;
    color: #ffff;
    cursor: pointer;
    border-radius: 2rem;
}
.form-btn:hover{
    font-size: larger;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.277);
}


@media (max-width:500px) {
    html {
    
        font-size: 40%;
    }
    .nav {
        float: none;
        padding: 0.1rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    #logo{
        float: none;
        display: block;
        text-align: center;
    }
    #button{
        border: 1px solid #e63946;
        padding: 1rem;
    }
    .row{
        height:auto;
        width: 100%;
    }
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        
    }
    .row .img-box{
        height: 40rem;
        float: none;
        width: 100%;
        text-align: center;    
    }
    .box{
        height: 33rem;
        font-size: 1rem;

    }
    .box h2{
        font-size: 1rem;
        font-weight: 700;
    }
    .foot{
        height:11rem;
        text-align: center;
        padding-top: 2rem;
    }
    .foot .foot-text,
    .foot .button {
        float:none;
        display: block;
        width: 100%;
        text-align: center;
        padding: auto;
    }
    .foot-text{
        padding: 0rem;
        margin-top: -1.5rem;
    }
    .foot .button{
        border: 2px solid #f4f4f4;
        padding: 1rem;
    }
    .form-wrapper{
        width: 43.5rem;
    }
    .form-wrapper .compant-name
    {
        width:43.5rem;
        margin-bottom: 5rem;
    }
    .form-wrapper .form{
        width:100%;
        margin-top:5rem;
    }
    .nav a{
        float: none;
        display:inline;
        padding: 1rem;
        text-align:right;
    }
    a:hover{
        color: #e63946;
        font-size: 1rem;
    }
}
@media(min-width: 501px) and (max-width:768px){
    html{
        font-size: 12px; 
    }
    p{
        font-size: 1.2rem;
    }
    .nav {
        float: none;
        padding: 0.1rem;
        width: 100%;
    text-align: center;
    justify-content: center;
    }
    #logo{
        float: none;
        display: block;
        text-align: center;
    }
    #button{
        border: 1px solid #e63946;
        padding: 1rem;

    }
    .row{
        height:auto;
        width: 100%;
    }
    .row .text-box{
        float: none;
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        
    }
    .row .img-box{
        height: 40rem;
        float: none;
        width: 100%;
        text-align: center;    
    }
    .box{
        height: 33rem;
        font-size: 1rem;

    }
    .box h2{
        font-size: 1rem;
        font-weight: 700;
    }
    .foot{
        height:11rem;
        text-align: center;
        padding-top: 2rem;
    }
    .foot .foot-text,
    .foot .button {
        float:none;
        display: block;
        width: 100%;
        text-align: center;
        padding: auto;

    }
    .foot-text{
        padding: 0rem;
        margin-top: -1.5rem;
    }
    .foot .button{
        border: 2px solid #f4f4f4;
        padding: 1rem;
    }
    .form-wrapper{
        width: 43.5rem;
    }
    .form-wrapper .compant-name
    {
        width:43.5rem;
        margin-bottom:5rem;
    }
    .form-wrapper .form{
        width:100%;
        margin-top:5rem;
    }
    .nav {
        float: none;
        display:inline;
        padding: 1rem;
        text-align:center;
    }
    .nav a{
        float: none;
        text-align: center;
    }
    a:hover{
        color: #e63946;
        font-size: 1rem;
    }
    .about .main{
        height: 100%;
        font-size:2rem;
    }
}


